---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---


{% if site.author.googlescholar %}
  <div class="wordwrap" style="margin-bottom: {% if site.research_top_spacing %}{{ site.research_top_spacing }}{% else %}40px{% endif %};">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<div>
{% assign category_order = "jmp,publications,working_papers,work_in_progress" | split: "," %}
{% for category in category_order %}
  {% for post in site.publications reversed %}
    {% if post.category == category %}
      {% include archive-single.html %}
    {% endif %}
  {% endfor %}
{% endfor %}
</div>



