---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<h2>Graduate Courses, Department of Economics, UCI</h2>

{% assign grad_guest_lectures = site.teaching | where: "type", "Guest Lecture" | where: "level", "Graduate" | sort: "date" | reverse %}
{% for post in grad_guest_lectures %}
  {% include archive-single.html %}
{% endfor %}

{% assign grad_courses = site.teaching | where: "type", "Teaching Assistant - Graduate" | sort: "date" | reverse %}
{% for post in grad_courses %}
  {% include archive-single.html %}
{% endfor %}

<h2>Undergraduate Courses, Department of Economics, UCI</h2>

{% assign undergrad_guest_lectures = site.teaching | where: "type", "Guest Lecture" | where: "level", "Undergraduate" | sort: "date" | reverse %}
{% for post in undergrad_guest_lectures %}
  {% include archive-single.html %}
{% endfor %}

{% assign undergrad_courses = site.teaching | where: "type", "Teaching Assistant - Undergraduate" | sort: "date" | reverse %}
{% for post in undergrad_courses %}
  {% include archive-single.html %}
{% endfor %}

<h2>Selected Testimonials</h2>

{% assign testimonials = site.teaching | where: "type", "Testimonial" | sort: "date" | reverse %}
{% for post in testimonials %}
  {% include archive-single.html %}
{% endfor %}

{% if testimonials.size == 0 %}
<p><em>No testimonials listed yet.</em></p>
{% endif %}
